<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nscaSettings" type="Nagios.Net.Client.Nsca.NscaSettings, NetClient.Common"/>
    <section name="nrpeSettings" type="Nagios.Net.Client.Nrpe.NrpeSettings, NetClient.Common"/>
  </configSections>

  <!-- NSCA settings -->
  <!-- Possible encryption types: None, Xor (by default), TripleDES, Blowfish, AES128, AES192, AES256 -->
  <nscaSettings nscaAddress="192.168.10.102" port="5667" password="nagios123" encryptionType="Blowfish" nscaHostName=""/>
  <nrpeSettings ip="Any" port="5666" ssl="True">
    <hosts>
      <clear/>
      <add host="192.168.10.102"/>
    </hosts>
  </nrpeSettings>
 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
